* {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    box-sizing: border-box;
  }
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700,900&display=swap');
body {
    font-family: 'Lato', sans-serif;
    background-color: #eeeeee;
    text-align: center;
    color: #080c53;
}
a {
    text-decoration: underline;
    color: #080c53;

}
h1 {
    font-weight: 900;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: #080c53;

}
p{
    color: #080c53;

}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 130vh;
}
section a {
    width: 80%;
    text-decoration: none;
    color: #080c53;

}
section a .card {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 15px;
}

.icon{
    height: 20vh;
}